.xaxis {
    font-size: 8px;
}

#bar {
    width: 1000px;
}

#donut {
    float: left;
}

#donutcontainer {
    width: 470px;
    height: 280px;
    float: left;
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 10px;
}

.selection {
    opacity: 0.2;
}

.tick line {
    opacity: 0.1;
}

.tick text {
    font-size: 8px;
}

.domain {
    opacity: 0.1;
}

.tooltip {
    color: black;
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: ghostwhite;
    pointer-events: none;
    border-radius: 5px;
}

.pietooltip {
    color: black;
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: ghostwhite;
    pointer-events: none;
    border-radius: 5px;
}

#table {
    float: left;
}

#legend {
    width: 150px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

#scatter {
    width: 720px;
    height: 280px;
    float: left;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#dropdown {
    width: 200px;
    float: left;
    margin: auto;
}

#xselect {
    float: left;
    padding-bottom: 5px;
}

#yselect {
    float: left;
}

#details {
    width: 180px;
    height: 300px;
    float: left;
    justify-content: center;
    padding-top: 10px;
}

.legendtext {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#main {
    width: 1240px;
    height: 800px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#parallelcontainer {
    padding-top: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}

/* #parallelcontainer text {
    color: white;
} */

text {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}